body {
    background-color: #ffeaee;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#nameOfBlog {
    width: 60%;
    border: solid pink .2rem;
    background-color: #BB778D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
}

.introduction {
    border: solid pink .2rem;
    background-color: #bb778d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    width: 75%;
}

#blogEntries {
    border: solid pink .2rem;
    background-color: #ffeaea;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    width: 75%;
}

#myForm {
    background-image: url(Images/pexels-cottonbro-7253641.jpg);
    border: #aa5571 solid .2rem;
}

#addBlogPosts {
    width: 35rem;
    height: 100vh;
    background-color: #ffeaea;
    font-weight: bold;
    font-size: 1.3rem;
}

#submitButton {
    background-color: #aa5571;
}

footer {
display: flex;
padding: 0;
margin: 0;
width: 100%;
}

.topnav, .bottomnav {
    background-color: #aa5571;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0.5rem;
}

.topnav a {
    color: black !important;
    font-size: 1.3rem;
}

.bottomnav p {
    color: black !important;
    font-size: 1rem;
}

.accordion-body {
    background-color: cream;
}

 /*Write media query to resize for mobile screen*/
 @media only screen and (max-width: 768px){
    #myForm {
        background-size: cover; /* Ensure the background image still covers the element */
        background-position: center center; /* Keep the image centered */
        padding: 1rem; /* Adjust padding for better spacing */
    }

    #addBlogPosts {
        width: 70%;
    }

 }
