body {
    background-color: #ffeaee;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
   height: 15rem;
    width: 15rem;
    border: solid pink .2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nameOfBlog {
    width: 30rem;
    height: 5rem;
    border: solid pink .2rem;
    background-color: #BB778D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    text-align: center;
}

#introduction {
    border: solid pink .2rem;
    background-color: #bb778d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    width: 50rem;
}

.topnav, .bottomnav {
    background-color: #aa5571;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.topnav a {
    color: black !important;
    font-size: 1.3rem;
}

.bottomnav p {
    color: black !important;
    font-size: 1rem;
}

 //Write media query to resize for mobile screen
 @media only screen and (max-width: 768px){
    img {
        height: 5rem;
         width: 5rem;
     }

 }

 //Write media query to resize for tablet screen
@media only screen and (max-width: 1024px){
    img {
        height: 10rem;
        width: 10rem;
    }
}


 //write media query to change for dark mode