body {
    background-color: #ffeaee;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nameOfBlog {
    width: 50%;
    height: 5rem;
    border: solid pink .2rem;
    background-color: #BB778D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    text-align: center;
}

.introduction {
    border: solid pink .2rem;
    background-color: #bb778d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    width: 75%;
}

#blogEntries {
    border: solid pink .2rem;
    background-color: #ffeaea;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    width: 75%;
}

#myForm {
    background-image: url(Images/pexels-cottonbro-7253641.jpg);
    border: #aa5571 solid .2rem;
}

#addBlogPosts {
    width: 35rem;
    height: 100vh;
    background-color: #ffeaea;
    font-weight: bold;
    font-size: 1.3rem;
}

#submitButton {
    background-color: #aa5571;
}

.topnav, .bottomnav {
    background-color: #aa5571;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.topnav a {
    color: black !important;
    font-size: 1.3rem;
}

.bottomnav p {
    color: black !important;
    font-size: 1rem;
}

.accordion-body {
    background-color: cream;
}

 /*Write media query to resize for mobile screen*/
 @media only screen and (max-width: 768px){
    

 }

 /*Write media query to resize for tablet screen*/
@media only screen and (max-width: 1024px){
    
}